/* .tag {
    text-align: center;
} */



.slick-slide img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.imgslider {
    width: 500px;
}

@media screen and (max-width:800px) {


    .slick-slide img {
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .imgslider {
        width: 300px;
        margin-left: 2rem;
    }
}