.sign-up-bg {
    background-image: url('../svgs/background.svg');
    background-size: cover;
    /* or contain, or specific dimensions */
    background-repeat: no-repeat;
    /* or repeat-x, repeat-y, or repeat */
    background-position: center center;
    /* or top, bottom, left, right */
}

.sign-up-page-wrapper {
    display: flex;
    justify-content: space-around;
    /* margin-top: 8rem; */
    margin-bottom: 8rem;
    height: 78vh;
}

.sign-up-page-wrapper1 {
    height: 100vh;
}

.sign-up-page-logo {
    margin-top: 10%;
}

.sign-up-lower-section-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-success-wrapper {
    margin-top: 18rem;
}

.to-down-logo {
    margin: 8rem;
}

@media screen and (max-width:1000px) {
    .sign-up-lower-section-wrapper {
        display: none;
    }

    .sign-up-bg {
        background-image: url('../svgs/backgroundmobile.svg');
        background-size: cover;
        /* or contain, or specific dimensions */
        background-repeat: no-repeat;
        /* or repeat-x, repeat-y, or repeat */
        background-position: center center;
        /* or top, bottom, left, right */
    }

    .sign-up-page-wrapper {
        margin-bottom: 0;
    }
}