@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.subsection{
    background: #1E1E1E;
}

.heading-subsection{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 91px;
    letter-spacing: 0.05em;
    color: #FF8D32;
    margin-left: 4rem;
    margin-top:10rem;
}

.subsection-content{
font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 37px;
letter-spacing: 0.05em;
color:#929292;
margin-left: 4rem;
margin-right: 4rem;
}

.btn-brochure{
    box-sizing: border-box;
    display: flex;
    font-family: 'google-sans-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    width: 137px;
    height: 48px;
    background-color: #FCD444;
    align-items: center;
    border: 0.5px solid #FCD444;
    border-radius: 4px;
    justify-content: center;
    margin-right: 2rem;
}


.btn-apply{
    box-sizing: border-box;
    display: flex;
    font-family: 'google-sans-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    width: 137px;
    height: 48px;
    background-color:#FC5244;
    align-items: center;
    border: 0.5px solid #FC5244;
    border-radius: 4px;
    justify-content: center;
}

.btn-brochure-apply{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

@media screen and (max-width:1000px) {
.heading-subsection{
    font-size: 40px;
    margin-left: 2rem;
    margin-top: 8rem;
}

    .subsection-content{
        margin-left:2rem;
        margin-right:1rem;
        font-size: 18px;
    }

    .btn-brochure,.btn-apply{
        font-size: 15px;
    }
}