@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.contact-us-heading {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 91px;
    letter-spacing: 0.05em;
    color: #FF8D32;
    margin-left: 8rem;
}

.divider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #6D6D6D;
}

.lower-section-contactus {
    height: 16px;
    background: #A43CFF;
    margin-top: 4rem;
}

#name {
    height: 48px;
    width: 411px;
    background: #6D6D6D;
    border-radius: 6px;
}

#message {
    width: 411px;
    height: 222px;
    background: #6D6D6D;
    border-radius: 6px;
}

.contactus-right {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}

.newButton {
    margin-left: 17.5rem;
    margin-top: 1rem;
}

@media screen and (max-width:1372px) {
    .newButton {
        margin-left: 11rem;
    }
}

@media screen and (max-width:1000px) {
    .contact-us-heading {
        font-size: 40px;
        margin-left: 2rem;
    }

    .newButton {
        margin-left: 12.5rem;
    }
}