.title-methodology {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 91px;
    letter-spacing: 0.05em;
    color: #FF8D32;
    margin-left: 8rem;
}

.lower-section-methodology {
    height: 16px;
    background: #FFCB0F;
    margin-top: 4rem;
}